.Navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  color: white;
  z-index: 7;
}
.logo {
  font-size: 3vw;
  font-family: "Advent Pro", sans-serif;
}
.nav {
  display: none;
  position: relative;
}
.social ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social li {
  font-size: 1vw;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.animate__animated.animate__slideInDown,
.animate__fadeInLeft,
.animate__fadeInRight {
  --animate-duration: 2s;
}
.sidebar {
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 9;
  width: 50vw;
  max-width: 190px;
  height: 30vh;
  border-radius: 20px;
  color: black;
  background-color: white;
}

.hamburger {
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 7vw;
  }
  .nav {
    display: block;
  }
  .social {
    height: 20vh;
    position: absolute;
    right: 0;
    top: 15vh;
    z-index: 10;
    margin-right: 20px;
  }
  .social ul {
    flex-direction: column;
  }
  .social li{
    font-size: 7vw;
  }
}
