
.banner {
  position: relative;
}
.details {
  color: white;
  position: absolute;
  text-align: center;
  z-index: 2;
  line-height: 1;
  
}
.details h1 {
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
  animation-name: example;
  animation-duration: 1s;
  animation-delay: 1s;  
  animation-fill-mode: forwards;
}
.details h2{
  margin-top: 5vh;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Advent Pro", sans-serif;
}
.button{
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
}
.button .btn-1,.btn-2{
  text-transform: uppercase;
  width: 10rem;
  height: 3rem;
  margin: 0 10px;
}
.button .btn-1{
  border: 2px solid white;
}
.button .btn-2{
  background-color: white;
  color: black;
}
@keyframes example {
  
  100% {transform: rotate(-5deg);}
}

.image img {
  padding: 0 auto;
  width: 100%;
  height: auto;
  max-width: 100%;
  filter: brightness(50%)
}


@media only screen and (max-width: 600px) {
  .image img {
    object-fit: cover;
    height:100vh;
  }
  .details {
    top: 45%;
    left: 2vh;
  }
  .details h1 {
    font-size: 2.4rem;
  }
  .button{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 1024px) and (min-width:769px) {
  
  .details {
    top: 45%;
    left: 33%;
  }
  .details h1 {
    font-size: 2.8rem;
  }
  
}
@media only screen and (max-width: 1500px) and (min-width:1025px)  {
  
  .details {
    top: 45%;
    left: 33%;
  }
  .details h1 {
    font-size: 4rem;
  }
  
}
@media only screen and (min-width:1501px)  {
  
  .details {
    top:45%;
    left: 33%;
  }
  .details h1 {
    font-size: 5rem;
  }
  
}
