.About {
  max-width: 1400px;
  margin: 0 auto;
  padding: 7rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-details {
  flex-basis: 50%;
}
.heading {
  font-size: 2rem;
  margin: 25px 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.about-details p {
  font-family: "Open Sans", sans-serif;
  margin: 20px 0;
}
.signature {
  font-family: "Great Vibes", cursive;
  text-transform: capitalize;
  font-size: 3rem;
  transform: rotate(-5deg);
}
.skill {
  flex-basis: 50%;
  width: 100%;
}
.skill h1 {
  display: none;
}
.skill-set {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
.skill-set div {
  display: flex;
  align-items: center;
  padding: 10px;
}
.skill-set svg {
  margin: 10px;
  width: auto;
  height: 8vw;
}
.skill-set img {
  margin: 10px;
  width: auto;
  height: 8vw;
}

@media only screen and (max-width: 600px) {
  .About {
    padding: 30px;
    flex-direction: column;
  }
  .signature {
    font-size: 1.5rem;
  }
  .skill {
    margin-top: 8vh;
  }
  .skill h1 {
    display: block;
  }
  .skill-set svg,.skill-set img {
    margin: 10px;
    width: auto;
    height: 15vw;
  }
}
