.About {
  max-width: 1100px;
  margin: 0 auto;
  padding: 7rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-details {
  flex-basis: 50%;
}
.heading {
  font-size: 2em;
  margin: 25px 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.about-details p {
  font-family: "Open Sans", sans-serif;
  margin: 20px 0;
}
.signature {
  font-family: "Great Vibes", cursive;
  text-transform: capitalize;
  font-size: 3rem;
  transform: rotate(-5deg);
}

